
.home-bg{
    margin: 0;
}

.home-intro{
    background-image: url("https://prescottwebdesign.com/images/slider/slider-01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: end;
    align-items: center;

    color: white;
    
    min-height: 100vh;
    min-width: 100vw;
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.contact-btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}